<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'hm_timeclock', plugin: 'redmine_human_resources' %>
<% end %>

<h2><%= l(:label_hm_admin_employment_types_new) %></h2>
<%= render 'form' %>
