<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'hm_timeclock', plugin: 'redmine_human_resources' %>
<% end %>

<div class="contextual">
  <%= link_to l(:label_hm_timeclock_navbar), hr_timeclock_path, class: 'icon icon-time' %>
</div>

<h2><%= l(:label_hm_timeclock_calendar) %></h2>

<%= render partial: 'calendar', locals: {
      month: @month, entries: @entries_month, user: User.current,
      base_path: ->(m) { hr_timeclock_calendar_path(month: m.strftime('%Y-%m')) }
    } %>
