<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'hm_timeclock', plugin: 'redmine_hm_cratchmere' %>
<% end %>

<h2><%= l(:label_hm_hr_vacation) %></h2>

<div class="hm-hr-placeholder">
  <p><%= l(:label_hm_hr_coming_soon) %></p>
</div>
